In [0]:
# Change directory to VSCode workspace root so that relative path loads work correctly. Turn this addition off with the DataScience.changeDirOnImportExport setting
import os
try:
	os.chdir(os.path.join(os.getcwd(), '..'))
	print(os.getcwd())
except:
	pass

 ## 練習時間
 資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

 #### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

 有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

 #### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [2]:
import os
import numpy as np
import pandas as pd

In [3]:
# 設定 data_path
dir_data = './data/'

In [4]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

 ### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
 #### 資料的 row 數以及 column 數

In [5]:
row, column = app_train.shape
print("row num : {} \ncolumn num : {}".format(row,column))

row num : 307511
column num : 122

 #### 列出所有欄位

In [6]:
print("Below are all columns item :")
column_items = app_train.axes[1]
strLimit = 100
str = ""
for item in column_items:
    if len(str.expandtabs())+len(item) > strLimit:
        print(str)
        str = ""
    if str != "":
        str = str + ',\t' + item
    str += item
print(str)

Below are all columns item :
SK_ID_CURR,	TARGETTARGET,	NAME_CONTRACT_TYPENAME_CONTRACT_TYPE,	CODE_GENDERCODE_GENDER
FLAG_OWN_CAR,	FLAG_OWN_REALTYFLAG_OWN_REALTY,	CNT_CHILDRENCNT_CHILDREN,	AMT_INCOME_TOTALAMT_INCOME_TOTAL
AMT_CREDIT,	AMT_ANNUITYAMT_ANNUITY,	AMT_GOODS_PRICEAMT_GOODS_PRICE,	NAME_TYPE_SUITENAME_TYPE_SUITE
NAME_INCOME_TYPE,	NAME_EDUCATION_TYPENAME_EDUCATION_TYPE,	NAME_FAMILY_STATUSNAME_FAMILY_STATUS
NAME_HOUSING_TYPE,	REGION_POPULATION_RELATIVEREGION_POPULATION_RELATIVE,	DAYS_BIRTHDAYS_BIRTH
DAYS_EMPLOYED,	DAYS_REGISTRATIONDAYS_REGISTRATION,	DAYS_ID_PUBLISHDAYS_ID_PUBLISH,	OWN_CAR_AGEOWN_CAR_AGE
FLAG_MOBIL,	FLAG_EMP_PHONEFLAG_EMP_PHONE,	FLAG_WORK_PHONEFLAG_WORK_PHONE,	FLAG_CONT_MOBILEFLAG_CONT_MOBILE
FLAG_PHONE,	FLAG_EMAILFLAG_EMAIL,	OCCUPATION_TYPEOCCUPATION_TYPE,	CNT_FAM_MEMBERSCNT_FAM_MEMBERS
REGION_RATING_CLIENT,	REGION_RATING_CLIENT_W_CITYREGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START,	HOUR_APPR_PROCESS_STARTHOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION,	REG_REGION_NOT_WORK_REGIONREG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION,	REG_CITY_NOT_LIVE_CITYREG_CITY_NOT_LIVE_CITY,	REG_CITY_NOT_WORK_CITYREG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY,	ORGANIZATION_TYPEORGANIZATION_TYPE,	EXT_SOURCE_1EXT_SOURCE_1
EXT_SOURCE_2,	EXT_SOURCE_3EXT_SOURCE_3,	APARTMENTS_AVGAPARTMENTS_AVG,	BASEMENTAREA_AVGBASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG,	YEARS_BUILD_AVGYEARS_BUILD_AVG,	COMMONAREA_AVGCOMMONAREA_AVG
ELEVATORS_AVG,	ENTRANCES_AVGENTRANCES_AVG,	FLOORSMAX_AVGFLOORSMAX_AVG,	FLOORSMIN_AVGFLOORSMIN_AVG
LANDAREA_AVG,	LIVINGAPARTMENTS_AVGLIVINGAPARTMENTS_AVG,	LIVINGAREA_AVGLIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG,	NONLIVINGAREA_AVGNONLIVINGAREA_AVG,	APARTMENTS_MODEAPARTMENTS_MODE
BASEMENTAREA_MODE,	YEARS_BEGINEXPLUATATION_MODEYEARS_BEGINEXPLUATATION_MODE,	YEARS_BUILD_MODEYEARS_BUILD_MODE
COMMONAREA_MODE,	ELEVATORS_MODEELEVATORS_MODE,	ENTRANCES_MODEENTRANCES_MODE,	FLOORSMAX_MODEFLOORSMAX_MODE
FLOORSMIN_MODE,	LANDAREA_MODELANDAREA_MODE,	LIVINGAPARTMENTS_MODELIVINGAPARTMENTS_MODE
LIVINGAREA_MODE,	NONLIVINGAPARTMENTS_MODENONLIVINGAPARTMENTS_MODE,	NONLIVINGAREA_MODENONLIVINGAREA_MODE
APARTMENTS_MEDI,	BASEMENTAREA_MEDIBASEMENTAREA_MEDI,	YEARS_BEGINEXPLUATATION_MEDIYEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI,	COMMONAREA_MEDICOMMONAREA_MEDI,	ELEVATORS_MEDIELEVATORS_MEDI,	ENTRANCES_MEDIENTRANCES_MEDI
FLOORSMAX_MEDI,	FLOORSMIN_MEDIFLOORSMIN_MEDI,	LANDAREA_MEDILANDAREA_MEDI,	LIVINGAPARTMENTS_MEDILIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI,	NONLIVINGAPARTMENTS_MEDINONLIVINGAPARTMENTS_MEDI,	NONLIVINGAREA_MEDINONLIVINGAREA_MEDI
FONDKAPREMONT_MODE,	HOUSETYPE_MODEHOUSETYPE_MODE,	TOTALAREA_MODETOTALAREA_MODE
WALLSMATERIAL_MODE,	EMERGENCYSTATE_MODEEMERGENCYSTATE_MODE,	OBS_30_CNT_SOCIAL_CIRCLEOBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE,	OBS_60_CNT_SOCIAL_CIRCLEOBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE,	DAYS_LAST_PHONE_CHANGEDAYS_LAST_PHONE_CHANGE,	FLAG_DOCUMENT_2FLAG_DOCUMENT_2
FLAG_DOCUMENT_3,	FLAG_DOCUMENT_4FLAG_DOCUMENT_4,	FLAG_DOCUMENT_5FLAG_DOCUMENT_5
FLAG_DOCUMENT_6,	FLAG_DOCUMENT_7FLAG_DOCUMENT_7,	FLAG_DOCUMENT_8FLAG_DOCUMENT_8
FLAG_DOCUMENT_9,	FLAG_DOCUMENT_10FLAG_DOCUMENT_10,	FLAG_DOCUMENT_11FLAG_DOCUMENT_11
FLAG_DOCUMENT_12,	FLAG_DOCUMENT_13FLAG_DOCUMENT_13,	FLAG_DOCUMENT_14FLAG_DOCUMENT_14
FLAG_DOCUMENT_15,	FLAG_DOCUMENT_16FLAG_DOCUMENT_16,	FLAG_DOCUMENT_17FLAG_DOCUMENT_17
FLAG_DOCUMENT_18,	FLAG_DOCUMENT_19FLAG_DOCUMENT_19,	FLAG_DOCUMENT_20FLAG_DOCUMENT_20
FLAG_DOCUMENT_21,	AMT_REQ_CREDIT_BUREAU_HOURAMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY,	AMT_REQ_CREDIT_BUREAU_WEEKAMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON,	AMT_REQ_CREDIT_BUREAU_QRTAMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

 #### 條件式資料截取

In [7]:
condSeries = (app_train["SK_ID_CURR"] < 100017)
app_train.loc[condSeries]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
12,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0

 #### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子
 #### 相關操作可以看這裡
 #### https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html